:root {
  --max-width: 1920px;
  --navbar-height: 12vh;
  --border-radius: 12px;

  --white: white;
  --primary: rgba(3, 24, 25, 1);
  --primary-light: rgb(46, 64, 66);
  --primary-light2: rgb(123, 141, 143);

  --font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--white);
  background-color: var(--primary);
  font-family: var(--font-family);
  font-size: 1.7rem;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  color: var(--white);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

ul,
ol {
  list-style: none;
}

@media screen and (max-width: 1280px) {
  body {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 576px) {
}

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: var(--primary-light);
}

::-webkit-scrollbar-track {
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 1rem;
}
